.graphiqlClient {
  width: 50%;
  margin: 20px auto;
  padding: 50px;
  background-color: var(--client-section-color);
  border-radius: 5px;
}

.graphiqlClient button {
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 5px;
  cursor: pointer;
  border: none;
  margin: 20px 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.inputs input {
  height: 30px;
}

.sdl {
  margin-left: 35px;
}
