.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--white-color);
    height: 76px;
    border-bottom: solid 1px;
    border-color: var(--gray-color);
    box-shadow: 0px 8px 15px -3px rgba(209, 209, 209, 0.9);
}

.headerLogo {
  display: flex;
}

.logoText {
    width: 149px;
    font-size: 30px;
    font-family: Orbitron;
    color: var(--black-color);
    margin: 20px 0 0 20px;
}

.headerImg {
    margin-top: 7px;
}

.nav {
    display: flex;
    align-items: center;
}

.langToggle {
    width: 93px;
    height: 44px;
    background-color: var(--white-color);
    color: var(--secondary-color);
    font-size: 24px;
    margin-right: 25px;
    border-color: var(--secondary-color);
    cursor: pointer;
}

.signInButton {
    width: 75px;
    height: 57px;
    background-color: var(--white-color);
    border: none;
    color: var(--black-color);
    margin-right: 25px;
    font-size: 24px;
    cursor: pointer;
}

.authButton {
    width: 122px;
    height: 44px;
    background-color: var(--secondary-color);
    border: none;
    color: var(--white-color);
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        margin-top: 10px;
        flex-direction: column;
        align-items: stretch;
    }

    .authButton {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        font-size: 14px;
    }

    .langToggle {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }
}