.historyContainer {
    min-height: 50vh;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--secondary-color);
}

.requestContainer {
    list-style-type: none;
    padding: 0;
}

.request {
    margin: 10px 0;
}

.historyText {
    margin-bottom: 30px;
}