.restContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restClient {
  width: 800px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  background-color: #efefef;
  border-radius: 5px;
  margin: auto;
  padding: 20px;
}

.client {
  min-height: 100vh;
}

.clientHeader select {
  height: 30px;
  margin-right: 10px;
}

.endpoint_url {
  width: 400px;
}

.clientHeader {
  display: flex;
}

.clientHeader input,
.headerSection input {
  height: 30px;
}

.headerSection input {
  margin: 10px 10px 10px 0;
  width: 238px;
}

.bodySection textarea {
  height: 100px;
  width: 100%;
}

.headerText {
  margin: 10px 0 10px 0;
}

.restClient button {
  height: 40px;
  background-color: var(--secondary-color);
  color: white;
  padding: 5px;
  cursor: pointer;
  border: none;
  margin: 5px 0;
}
