.restContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.restClient {
  width: 800px;
  display: flex;
  justify-content: center;
  background-color: #efefef;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--client-section-color);
}

.client {
  min-height: 100vh;
}

.clientHeader select {
  height: 30px;
  margin-right: 10px;
}

.endpoint_url {
  width: 400px;
}

.clientHeader {
  display: flex;
}

.clientHeader input,
.headerSection input {
  height: 30px;
}

.headerSection input {
  margin: 10px 10px 10px 0;
  width: 238px;
}

.bodySection textarea {
  height: 100px;
  width: 100%;
}

.headerText {
  margin: 10px 0 10px 0;
}

.restClient button {
  height: 40px;
  background-color: var(--secondary-color);
  color: white;
  padding: 5px;
  cursor: pointer;
  border: none;
  margin: 5px 0;
}

.restClient button:hover {
  background-color: var(--hover-secondary);
}

.variablesSection {
  margin: 20px 0;
}

/* Mobile Styles for Welcome */
@media (max-width: 480px) {
  .headerSection input {
    margin: 10px 10px 10px 0;
    width: 200px;
  }
  
  .restClient {
    width: 350px;
    max-width: 100%;
    padding: 20px;
    margin: 20px;
  }

  .endpoint_url {
    max-width: 100%;
  }
  
  .clientWrapper {
    width: 100%;
    margin: 0 auto;
  }

  .variablesSection {
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  
  .restClient {
    width: 800px;
    max-width: 100%;
    padding: 20px;
    margin: 20px;
  }

  .endpoint_url {
    width: 200px;
    max-width: 100%;
  }

  .headerSection input {
    margin: 10px 10px 10px 0;
    width: 200px;
    max-width: 100%;
  }
  
  .clientWrapper {
    width: 100%;
    margin: 0 auto;
  }
}