.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomePart {
    width: 548px;
    color: var(--black-color);
    font-size: 32px;
}

.welcomeText {
    width: 900px;
    margin: 40px 0 0 85px;
}

.welcomeImg {
    margin-bottom: -50px;
}

.welcomeButtons {
    display: flex;
    flex-direction: column;
}

.welcomeButton {
    width: 143px;
    height: 48px;
    background-color: var(--primary-color) ;
    color: var(--white-color);
    margin-top: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
